/* line 1, sass/styles.sass */
.container { white-space: nowrap; }

/* line 4, sass/_clock.sass */
.clock { border: 2px solid #eee; border-radius: 50%; display: inline-block; float: left; height: 30px; position: relative; width: 30px; }
/* line 12, sass/_clock.sass */
.clock:before, .clock:after { content: ""; border-left: 2px solid #000; bottom: 0; height: 15px; left: 0; margin: 0 auto; position: absolute; right: 0; top: 0; transform: rotate(0deg); transform-origin: 1px bottom; width: 2px; }
/* line 25, sass/_clock.sass */
.clock:before { transition: transform 1s ease-in-out; }
/* line 27, sass/_clock.sass */
.clock:after { height: 13px; top: 2px; transition: transform 0.5s ease-in-out; }

/* line 1, sass/_digit.sass */
.digit { display: inline-block; float: left; }
/* line 7, sass/_digit.sass */
.digit.digit0 .row1 .clock1:before { transform: rotate(180deg); }
/* line 9, sass/_digit.sass */
.digit.digit0 .row1 .clock1:after { transform: rotate(90deg); }
/* line 12, sass/_digit.sass */
.digit.digit0 .row1 .clock2:before, .digit.digit0 .row1 .clock3:before, .digit.digit0 .row1 .clock4:before { transform: rotate(90deg); }
/* line 14, sass/_digit.sass */
.digit.digit0 .row1 .clock2:after, .digit.digit0 .row1 .clock3:after, .digit.digit0 .row1 .clock4:after { transform: rotate(270deg); }
/* line 17, sass/_digit.sass */
.digit.digit0 .row1 .clock5:before { transform: rotate(180deg); }
/* line 19, sass/_digit.sass */
.digit.digit0 .row1 .clock5:after { transform: rotate(270deg); }
/* line 23, sass/_digit.sass */
.digit.digit0 .row2 .clock1:before, .digit.digit0 .row2 .clock5:before { transform: rotate(0deg); }
/* line 25, sass/_digit.sass */
.digit.digit0 .row2 .clock1:after, .digit.digit0 .row2 .clock5:after { transform: rotate(180deg); }
/* line 28, sass/_digit.sass */
.digit.digit0 .row2 .clock2:before { transform: rotate(180deg); }
/* line 30, sass/_digit.sass */
.digit.digit0 .row2 .clock2:after { transform: rotate(90deg); }
/* line 33, sass/_digit.sass */
.digit.digit0 .row2 .clock3:before { transform: rotate(270deg); }
/* line 35, sass/_digit.sass */
.digit.digit0 .row2 .clock3:after { transform: rotate(90deg); }
/* line 38, sass/_digit.sass */
.digit.digit0 .row2 .clock4:before { transform: rotate(270deg); }
/* line 40, sass/_digit.sass */
.digit.digit0 .row2 .clock4:after { transform: rotate(180deg); }
/* line 44, sass/_digit.sass */
.digit.digit0 .row3 .clock1:before, .digit.digit0 .row3 .clock2:before, .digit.digit0 .row3 .clock4:before, .digit.digit0 .row3 .clock5:before { transform: rotate(180deg); }
/* line 46, sass/_digit.sass */
.digit.digit0 .row3 .clock1:after, .digit.digit0 .row3 .clock2:after, .digit.digit0 .row3 .clock4:after, .digit.digit0 .row3 .clock5:after { transform: rotate(0deg); }
/* line 49, sass/_digit.sass */
.digit.digit0 .row3 .clock3:before { transform: rotate(225deg); }
/* line 51, sass/_digit.sass */
.digit.digit0 .row3 .clock3:after { transform: rotate(45deg); }
/* line 55, sass/_digit.sass */
.digit.digit0 .row4 .clock1:before, .digit.digit0 .row4 .clock2:before, .digit.digit0 .row4 .clock4:before, .digit.digit0 .row4 .clock5:before { transform: rotate(180deg); }
/* line 57, sass/_digit.sass */
.digit.digit0 .row4 .clock1:after, .digit.digit0 .row4 .clock2:after, .digit.digit0 .row4 .clock4:after, .digit.digit0 .row4 .clock5:after { transform: rotate(0deg); }
/* line 60, sass/_digit.sass */
.digit.digit0 .row4 .clock3:before { transform: rotate(225deg); }
/* line 62, sass/_digit.sass */
.digit.digit0 .row4 .clock3:after { transform: rotate(45deg); }
/* line 66, sass/_digit.sass */
.digit.digit0 .row5 .clock1:before, .digit.digit0 .row5 .clock5:before { transform: rotate(0deg); }
/* line 68, sass/_digit.sass */
.digit.digit0 .row5 .clock1:after, .digit.digit0 .row5 .clock5:after { transform: rotate(180deg); }
/* line 71, sass/_digit.sass */
.digit.digit0 .row5 .clock2:before { transform: rotate(90deg); }
/* line 73, sass/_digit.sass */
.digit.digit0 .row5 .clock2:after { transform: rotate(0deg); }
/* line 76, sass/_digit.sass */
.digit.digit0 .row5 .clock3:before { transform: rotate(270deg); }
/* line 78, sass/_digit.sass */
.digit.digit0 .row5 .clock3:after { transform: rotate(90deg); }
/* line 81, sass/_digit.sass */
.digit.digit0 .row5 .clock4:before { transform: rotate(0deg); }
/* line 83, sass/_digit.sass */
.digit.digit0 .row5 .clock4:after { transform: rotate(270deg); }
/* line 87, sass/_digit.sass */
.digit.digit0 .row6 .clock1:before { transform: rotate(90deg); }
/* line 89, sass/_digit.sass */
.digit.digit0 .row6 .clock1:after { transform: rotate(0deg); }
/* line 92, sass/_digit.sass */
.digit.digit0 .row6 .clock2:before, .digit.digit0 .row6 .clock3:before, .digit.digit0 .row6 .clock4:before { transform: rotate(90deg); }
/* line 94, sass/_digit.sass */
.digit.digit0 .row6 .clock2:after, .digit.digit0 .row6 .clock3:after, .digit.digit0 .row6 .clock4:after { transform: rotate(270deg); }
/* line 97, sass/_digit.sass */
.digit.digit0 .row6 .clock5:before { transform: rotate(0deg); }
/* line 99, sass/_digit.sass */
.digit.digit0 .row6 .clock5:after { transform: rotate(270deg); }
/* line 104, sass/_digit.sass */
.digit.digit1 .row1 .clock1:before, .digit.digit1 .row1 .clock5:before { transform: rotate(225deg); }
/* line 106, sass/_digit.sass */
.digit.digit1 .row1 .clock1:after, .digit.digit1 .row1 .clock5:after { transform: rotate(45deg); }
/* line 109, sass/_digit.sass */
.digit.digit1 .row1 .clock2:before { transform: rotate(180deg); }
/* line 111, sass/_digit.sass */
.digit.digit1 .row1 .clock2:after { transform: rotate(90deg); }
/* line 114, sass/_digit.sass */
.digit.digit1 .row1 .clock3:before { transform: rotate(90deg); }
/* line 116, sass/_digit.sass */
.digit.digit1 .row1 .clock3:after { transform: rotate(270deg); }
/* line 119, sass/_digit.sass */
.digit.digit1 .row1 .clock4:before { transform: rotate(270deg); }
/* line 121, sass/_digit.sass */
.digit.digit1 .row1 .clock4:after { transform: rotate(180deg); }
/* line 125, sass/_digit.sass */
.digit.digit1 .row2 .clock1:before, .digit.digit1 .row2 .clock5:before { transform: rotate(225deg); }
/* line 127, sass/_digit.sass */
.digit.digit1 .row2 .clock1:after, .digit.digit1 .row2 .clock5:after { transform: rotate(45deg); }
/* line 130, sass/_digit.sass */
.digit.digit1 .row2 .clock2:before { transform: rotate(90deg); }
/* line 132, sass/_digit.sass */
.digit.digit1 .row2 .clock2:after { transform: rotate(0deg); }
/* line 135, sass/_digit.sass */
.digit.digit1 .row2 .clock3:before { transform: rotate(270deg); }
/* line 137, sass/_digit.sass */
.digit.digit1 .row2 .clock3:after { transform: rotate(180deg); }
/* line 140, sass/_digit.sass */
.digit.digit1 .row2 .clock4:before { transform: rotate(0deg); }
/* line 142, sass/_digit.sass */
.digit.digit1 .row2 .clock4:after { transform: rotate(180deg); }
/* line 146, sass/_digit.sass */
.digit.digit1 .row3 .clock1:before, .digit.digit1 .row3 .clock2:before, .digit.digit1 .row3 .clock5:before { transform: rotate(225deg); }
/* line 148, sass/_digit.sass */
.digit.digit1 .row3 .clock1:after, .digit.digit1 .row3 .clock2:after, .digit.digit1 .row3 .clock5:after { transform: rotate(45deg); }
/* line 151, sass/_digit.sass */
.digit.digit1 .row3 .clock3:before { transform: rotate(180deg); }
/* line 153, sass/_digit.sass */
.digit.digit1 .row3 .clock3:after { transform: rotate(0deg); }
/* line 156, sass/_digit.sass */
.digit.digit1 .row3 .clock4:before { transform: rotate(0deg); }
/* line 158, sass/_digit.sass */
.digit.digit1 .row3 .clock4:after { transform: rotate(180deg); }
/* line 162, sass/_digit.sass */
.digit.digit1 .row4 .clock1:before, .digit.digit1 .row4 .clock2:before, .digit.digit1 .row4 .clock5:before { transform: rotate(225deg); }
/* line 164, sass/_digit.sass */
.digit.digit1 .row4 .clock1:after, .digit.digit1 .row4 .clock2:after, .digit.digit1 .row4 .clock5:after { transform: rotate(45deg); }
/* line 167, sass/_digit.sass */
.digit.digit1 .row4 .clock3:before { transform: rotate(180deg); }
/* line 169, sass/_digit.sass */
.digit.digit1 .row4 .clock3:after { transform: rotate(0deg); }
/* line 172, sass/_digit.sass */
.digit.digit1 .row4 .clock4:before { transform: rotate(0deg); }
/* line 174, sass/_digit.sass */
.digit.digit1 .row4 .clock4:after { transform: rotate(180deg); }
/* line 178, sass/_digit.sass */
.digit.digit1 .row5 .clock1:before, .digit.digit1 .row5 .clock2:before, .digit.digit1 .row5 .clock5:before { transform: rotate(225deg); }
/* line 180, sass/_digit.sass */
.digit.digit1 .row5 .clock1:after, .digit.digit1 .row5 .clock2:after, .digit.digit1 .row5 .clock5:after { transform: rotate(45deg); }
/* line 183, sass/_digit.sass */
.digit.digit1 .row5 .clock3:before { transform: rotate(180deg); }
/* line 185, sass/_digit.sass */
.digit.digit1 .row5 .clock3:after { transform: rotate(0deg); }
/* line 188, sass/_digit.sass */
.digit.digit1 .row5 .clock4:before { transform: rotate(0deg); }
/* line 190, sass/_digit.sass */
.digit.digit1 .row5 .clock4:after { transform: rotate(180deg); }
/* line 194, sass/_digit.sass */
.digit.digit1 .row6 .clock1:before, .digit.digit1 .row6 .clock2:before, .digit.digit1 .row6 .clock5:before { transform: rotate(225deg); }
/* line 196, sass/_digit.sass */
.digit.digit1 .row6 .clock1:after, .digit.digit1 .row6 .clock2:after, .digit.digit1 .row6 .clock5:after { transform: rotate(45deg); }
/* line 199, sass/_digit.sass */
.digit.digit1 .row6 .clock3:before { transform: rotate(90deg); }
/* line 201, sass/_digit.sass */
.digit.digit1 .row6 .clock3:after { transform: rotate(0deg); }
/* line 204, sass/_digit.sass */
.digit.digit1 .row6 .clock4:before { transform: rotate(270deg); }
/* line 206, sass/_digit.sass */
.digit.digit1 .row6 .clock4:after { transform: rotate(0deg); }
/* line 211, sass/_digit.sass */
.digit.digit2 .row1 .clock1:before { transform: rotate(180deg); }
/* line 213, sass/_digit.sass */
.digit.digit2 .row1 .clock1:after { transform: rotate(90deg); }
/* line 216, sass/_digit.sass */
.digit.digit2 .row1 .clock2:before, .digit.digit2 .row1 .clock3:before, .digit.digit2 .row1 .clock4:before { transform: rotate(90deg); }
/* line 218, sass/_digit.sass */
.digit.digit2 .row1 .clock2:after, .digit.digit2 .row1 .clock3:after, .digit.digit2 .row1 .clock4:after { transform: rotate(270deg); }
/* line 221, sass/_digit.sass */
.digit.digit2 .row1 .clock5:before { transform: rotate(180deg); }
/* line 223, sass/_digit.sass */
.digit.digit2 .row1 .clock5:after { transform: rotate(270deg); }
/* line 227, sass/_digit.sass */
.digit.digit2 .row2 .clock1:before { transform: rotate(90deg); }
/* line 229, sass/_digit.sass */
.digit.digit2 .row2 .clock1:after { transform: rotate(0deg); }
/* line 232, sass/_digit.sass */
.digit.digit2 .row2 .clock2:before, .digit.digit2 .row2 .clock3:before { transform: rotate(90deg); }
/* line 234, sass/_digit.sass */
.digit.digit2 .row2 .clock2:after, .digit.digit2 .row2 .clock3:after { transform: rotate(270deg); }
/* line 237, sass/_digit.sass */
.digit.digit2 .row2 .clock4:before { transform: rotate(180deg); }
/* line 239, sass/_digit.sass */
.digit.digit2 .row2 .clock4:after { transform: rotate(270deg); }
/* line 242, sass/_digit.sass */
.digit.digit2 .row2 .clock5:before { transform: rotate(180deg); }
/* line 244, sass/_digit.sass */
.digit.digit2 .row2 .clock5:after { transform: rotate(0deg); }
/* line 248, sass/_digit.sass */
.digit.digit2 .row3 .clock1:before { transform: rotate(180deg); }
/* line 250, sass/_digit.sass */
.digit.digit2 .row3 .clock1:after { transform: rotate(90deg); }
/* line 253, sass/_digit.sass */
.digit.digit2 .row3 .clock2:before, .digit.digit2 .row3 .clock3:before { transform: rotate(90deg); }
/* line 255, sass/_digit.sass */
.digit.digit2 .row3 .clock2:after, .digit.digit2 .row3 .clock3:after { transform: rotate(270deg); }
/* line 258, sass/_digit.sass */
.digit.digit2 .row3 .clock4:before { transform: rotate(270deg); }
/* line 260, sass/_digit.sass */
.digit.digit2 .row3 .clock4:after { transform: rotate(0deg); }
/* line 263, sass/_digit.sass */
.digit.digit2 .row3 .clock5:before { transform: rotate(180deg); }
/* line 265, sass/_digit.sass */
.digit.digit2 .row3 .clock5:after { transform: rotate(0deg); }
/* line 269, sass/_digit.sass */
.digit.digit2 .row4 .clock1:before { transform: rotate(180deg); }
/* line 271, sass/_digit.sass */
.digit.digit2 .row4 .clock1:after { transform: rotate(0deg); }
/* line 274, sass/_digit.sass */
.digit.digit2 .row4 .clock2:before { transform: rotate(90deg); }
/* line 276, sass/_digit.sass */
.digit.digit2 .row4 .clock2:after { transform: rotate(180deg); }
/* line 279, sass/_digit.sass */
.digit.digit2 .row4 .clock3:before, .digit.digit2 .row4 .clock4:before { transform: rotate(90deg); }
/* line 281, sass/_digit.sass */
.digit.digit2 .row4 .clock3:after, .digit.digit2 .row4 .clock4:after { transform: rotate(270deg); }
/* line 284, sass/_digit.sass */
.digit.digit2 .row4 .clock5:before { transform: rotate(270deg); }
/* line 286, sass/_digit.sass */
.digit.digit2 .row4 .clock5:after { transform: rotate(0deg); }
/* line 290, sass/_digit.sass */
.digit.digit2 .row5 .clock1:before { transform: rotate(180deg); }
/* line 292, sass/_digit.sass */
.digit.digit2 .row5 .clock1:after { transform: rotate(0deg); }
/* line 295, sass/_digit.sass */
.digit.digit2 .row5 .clock2:before { transform: rotate(0deg); }
/* line 297, sass/_digit.sass */
.digit.digit2 .row5 .clock2:after { transform: rotate(90deg); }
/* line 300, sass/_digit.sass */
.digit.digit2 .row5 .clock3:before, .digit.digit2 .row5 .clock4:before { transform: rotate(90deg); }
/* line 302, sass/_digit.sass */
.digit.digit2 .row5 .clock3:after, .digit.digit2 .row5 .clock4:after { transform: rotate(270deg); }
/* line 305, sass/_digit.sass */
.digit.digit2 .row5 .clock5:before { transform: rotate(270deg); }
/* line 307, sass/_digit.sass */
.digit.digit2 .row5 .clock5:after { transform: rotate(180deg); }
/* line 311, sass/_digit.sass */
.digit.digit2 .row6 .clock1:before { transform: rotate(90deg); }
/* line 313, sass/_digit.sass */
.digit.digit2 .row6 .clock1:after { transform: rotate(0deg); }
/* line 316, sass/_digit.sass */
.digit.digit2 .row6 .clock2:before, .digit.digit2 .row6 .clock3:before, .digit.digit2 .row6 .clock4:before { transform: rotate(90deg); }
/* line 318, sass/_digit.sass */
.digit.digit2 .row6 .clock2:after, .digit.digit2 .row6 .clock3:after, .digit.digit2 .row6 .clock4:after { transform: rotate(270deg); }
/* line 321, sass/_digit.sass */
.digit.digit2 .row6 .clock5:before { transform: rotate(0deg); }
/* line 323, sass/_digit.sass */
.digit.digit2 .row6 .clock5:after { transform: rotate(270deg); }
/* line 328, sass/_digit.sass */
.digit.digit3 .row1 .clock1:before { transform: rotate(180deg); }
/* line 330, sass/_digit.sass */
.digit.digit3 .row1 .clock1:after { transform: rotate(90deg); }
/* line 333, sass/_digit.sass */
.digit.digit3 .row1 .clock2:before, .digit.digit3 .row1 .clock3:before, .digit.digit3 .row1 .clock4:before { transform: rotate(90deg); }
/* line 335, sass/_digit.sass */
.digit.digit3 .row1 .clock2:after, .digit.digit3 .row1 .clock3:after, .digit.digit3 .row1 .clock4:after { transform: rotate(270deg); }
/* line 338, sass/_digit.sass */
.digit.digit3 .row1 .clock5:before { transform: rotate(180deg); }
/* line 340, sass/_digit.sass */
.digit.digit3 .row1 .clock5:after { transform: rotate(270deg); }
/* line 344, sass/_digit.sass */
.digit.digit3 .row2 .clock1:before { transform: rotate(90deg); }
/* line 346, sass/_digit.sass */
.digit.digit3 .row2 .clock1:after { transform: rotate(0deg); }
/* line 349, sass/_digit.sass */
.digit.digit3 .row2 .clock2:before, .digit.digit3 .row2 .clock3:before { transform: rotate(90deg); }
/* line 351, sass/_digit.sass */
.digit.digit3 .row2 .clock2:after, .digit.digit3 .row2 .clock3:after { transform: rotate(270deg); }
/* line 354, sass/_digit.sass */
.digit.digit3 .row2 .clock4:before { transform: rotate(180deg); }
/* line 356, sass/_digit.sass */
.digit.digit3 .row2 .clock4:after { transform: rotate(270deg); }
/* line 359, sass/_digit.sass */
.digit.digit3 .row2 .clock5:before { transform: rotate(180deg); }
/* line 361, sass/_digit.sass */
.digit.digit3 .row2 .clock5:after { transform: rotate(0deg); }
/* line 365, sass/_digit.sass */
.digit.digit3 .row3 .clock1:before { transform: rotate(180deg); }
/* line 367, sass/_digit.sass */
.digit.digit3 .row3 .clock1:after { transform: rotate(90deg); }
/* line 370, sass/_digit.sass */
.digit.digit3 .row3 .clock2:before, .digit.digit3 .row3 .clock3:before { transform: rotate(90deg); }
/* line 372, sass/_digit.sass */
.digit.digit3 .row3 .clock2:after, .digit.digit3 .row3 .clock3:after { transform: rotate(270deg); }
/* line 375, sass/_digit.sass */
.digit.digit3 .row3 .clock4:before { transform: rotate(270deg); }
/* line 377, sass/_digit.sass */
.digit.digit3 .row3 .clock4:after { transform: rotate(0deg); }
/* line 380, sass/_digit.sass */
.digit.digit3 .row3 .clock5:before { transform: rotate(180deg); }
/* line 382, sass/_digit.sass */
.digit.digit3 .row3 .clock5:after { transform: rotate(0deg); }
/* line 386, sass/_digit.sass */
.digit.digit3 .row4 .clock1:before { transform: rotate(0deg); }
/* line 388, sass/_digit.sass */
.digit.digit3 .row4 .clock1:after { transform: rotate(90deg); }
/* line 391, sass/_digit.sass */
.digit.digit3 .row4 .clock2:before, .digit.digit3 .row4 .clock3:before { transform: rotate(90deg); }
/* line 393, sass/_digit.sass */
.digit.digit3 .row4 .clock2:after, .digit.digit3 .row4 .clock3:after { transform: rotate(270deg); }
/* line 396, sass/_digit.sass */
.digit.digit3 .row4 .clock4:before { transform: rotate(180deg); }
/* line 398, sass/_digit.sass */
.digit.digit3 .row4 .clock4:after { transform: rotate(270deg); }
/* line 401, sass/_digit.sass */
.digit.digit3 .row4 .clock5:before { transform: rotate(180deg); }
/* line 403, sass/_digit.sass */
.digit.digit3 .row4 .clock5:after { transform: rotate(0deg); }
/* line 407, sass/_digit.sass */
.digit.digit3 .row5 .clock1:before { transform: rotate(180deg); }
/* line 409, sass/_digit.sass */
.digit.digit3 .row5 .clock1:after { transform: rotate(90deg); }
/* line 412, sass/_digit.sass */
.digit.digit3 .row5 .clock2:before, .digit.digit3 .row5 .clock3:before { transform: rotate(90deg); }
/* line 414, sass/_digit.sass */
.digit.digit3 .row5 .clock2:after, .digit.digit3 .row5 .clock3:after { transform: rotate(270deg); }
/* line 417, sass/_digit.sass */
.digit.digit3 .row5 .clock4:before { transform: rotate(270deg); }
/* line 419, sass/_digit.sass */
.digit.digit3 .row5 .clock4:after { transform: rotate(0deg); }
/* line 422, sass/_digit.sass */
.digit.digit3 .row5 .clock5:before { transform: rotate(180deg); }
/* line 424, sass/_digit.sass */
.digit.digit3 .row5 .clock5:after { transform: rotate(0deg); }
/* line 428, sass/_digit.sass */
.digit.digit3 .row6 .clock1:before { transform: rotate(90deg); }
/* line 430, sass/_digit.sass */
.digit.digit3 .row6 .clock1:after { transform: rotate(0deg); }
/* line 433, sass/_digit.sass */
.digit.digit3 .row6 .clock2:before, .digit.digit3 .row6 .clock3:before, .digit.digit3 .row6 .clock4:before { transform: rotate(90deg); }
/* line 435, sass/_digit.sass */
.digit.digit3 .row6 .clock2:after, .digit.digit3 .row6 .clock3:after, .digit.digit3 .row6 .clock4:after { transform: rotate(270deg); }
/* line 438, sass/_digit.sass */
.digit.digit3 .row6 .clock5:before { transform: rotate(0deg); }
/* line 440, sass/_digit.sass */
.digit.digit3 .row6 .clock5:after { transform: rotate(270deg); }
/* line 445, sass/_digit.sass */
.digit.digit4 .row1 .clock1:before { transform: rotate(180deg); }
/* line 447, sass/_digit.sass */
.digit.digit4 .row1 .clock1:after { transform: rotate(90deg); }
/* line 450, sass/_digit.sass */
.digit.digit4 .row1 .clock2:before { transform: rotate(270deg); }
/* line 452, sass/_digit.sass */
.digit.digit4 .row1 .clock2:after { transform: rotate(180deg); }
/* line 455, sass/_digit.sass */
.digit.digit4 .row1 .clock3:before { transform: rotate(225deg); }
/* line 457, sass/_digit.sass */
.digit.digit4 .row1 .clock3:after { transform: rotate(45deg); }
/* line 460, sass/_digit.sass */
.digit.digit4 .row1 .clock4:before { transform: rotate(180deg); }
/* line 462, sass/_digit.sass */
.digit.digit4 .row1 .clock4:after { transform: rotate(90deg); }
/* line 465, sass/_digit.sass */
.digit.digit4 .row1 .clock5:before { transform: rotate(180deg); }
/* line 467, sass/_digit.sass */
.digit.digit4 .row1 .clock5:after { transform: rotate(270deg); }
/* line 471, sass/_digit.sass */
.digit.digit4 .row2 .clock1:before, .digit.digit4 .row2 .clock2:before, .digit.digit4 .row2 .clock4:before { transform: rotate(0deg); }
/* line 473, sass/_digit.sass */
.digit.digit4 .row2 .clock1:after, .digit.digit4 .row2 .clock2:after, .digit.digit4 .row2 .clock4:after { transform: rotate(180deg); }
/* line 476, sass/_digit.sass */
.digit.digit4 .row2 .clock3:before { transform: rotate(225deg); }
/* line 478, sass/_digit.sass */
.digit.digit4 .row2 .clock3:after { transform: rotate(45deg); }
/* line 481, sass/_digit.sass */
.digit.digit4 .row2 .clock5:before { transform: rotate(180deg); }
/* line 483, sass/_digit.sass */
.digit.digit4 .row2 .clock5:after { transform: rotate(0deg); }
/* line 487, sass/_digit.sass */
.digit.digit4 .row3 .clock1:before { transform: rotate(0deg); }
/* line 489, sass/_digit.sass */
.digit.digit4 .row3 .clock1:after { transform: rotate(180deg); }
/* line 492, sass/_digit.sass */
.digit.digit4 .row3 .clock2:before { transform: rotate(0deg); }
/* line 494, sass/_digit.sass */
.digit.digit4 .row3 .clock2:after { transform: rotate(90deg); }
/* line 497, sass/_digit.sass */
.digit.digit4 .row3 .clock3:before { transform: rotate(90deg); }
/* line 499, sass/_digit.sass */
.digit.digit4 .row3 .clock3:after { transform: rotate(270deg); }
/* line 502, sass/_digit.sass */
.digit.digit4 .row3 .clock4:before { transform: rotate(270deg); }
/* line 504, sass/_digit.sass */
.digit.digit4 .row3 .clock4:after { transform: rotate(0deg); }
/* line 507, sass/_digit.sass */
.digit.digit4 .row3 .clock5:before { transform: rotate(180deg); }
/* line 509, sass/_digit.sass */
.digit.digit4 .row3 .clock5:after { transform: rotate(0deg); }
/* line 513, sass/_digit.sass */
.digit.digit4 .row4 .clock1:before { transform: rotate(90deg); }
/* line 515, sass/_digit.sass */
.digit.digit4 .row4 .clock1:after { transform: rotate(0deg); }
/* line 518, sass/_digit.sass */
.digit.digit4 .row4 .clock2:before, .digit.digit4 .row4 .clock3:before { transform: rotate(90deg); }
/* line 520, sass/_digit.sass */
.digit.digit4 .row4 .clock2:after, .digit.digit4 .row4 .clock3:after { transform: rotate(270deg); }
/* line 523, sass/_digit.sass */
.digit.digit4 .row4 .clock4:before { transform: rotate(270deg); }
/* line 525, sass/_digit.sass */
.digit.digit4 .row4 .clock4:after { transform: rotate(180deg); }
/* line 528, sass/_digit.sass */
.digit.digit4 .row4 .clock5:before { transform: rotate(180deg); }
/* line 530, sass/_digit.sass */
.digit.digit4 .row4 .clock5:after { transform: rotate(0deg); }
/* line 534, sass/_digit.sass */
.digit.digit4 .row5 .clock1:before, .digit.digit4 .row5 .clock2:before, .digit.digit4 .row5 .clock3:before { transform: rotate(225deg); }
/* line 536, sass/_digit.sass */
.digit.digit4 .row5 .clock1:after, .digit.digit4 .row5 .clock2:after, .digit.digit4 .row5 .clock3:after { transform: rotate(45deg); }
/* line 539, sass/_digit.sass */
.digit.digit4 .row5 .clock4:before, .digit.digit4 .row5 .clock5:before { transform: rotate(180deg); }
/* line 541, sass/_digit.sass */
.digit.digit4 .row5 .clock4:after, .digit.digit4 .row5 .clock5:after { transform: rotate(0deg); }
/* line 545, sass/_digit.sass */
.digit.digit4 .row6 .clock1:before, .digit.digit4 .row6 .clock2:before, .digit.digit4 .row6 .clock3:before { transform: rotate(225deg); }
/* line 547, sass/_digit.sass */
.digit.digit4 .row6 .clock1:after, .digit.digit4 .row6 .clock2:after, .digit.digit4 .row6 .clock3:after { transform: rotate(45deg); }
/* line 550, sass/_digit.sass */
.digit.digit4 .row6 .clock4:before { transform: rotate(90deg); }
/* line 552, sass/_digit.sass */
.digit.digit4 .row6 .clock4:after { transform: rotate(0deg); }
/* line 555, sass/_digit.sass */
.digit.digit4 .row6 .clock5:before { transform: rotate(270deg); }
/* line 557, sass/_digit.sass */
.digit.digit4 .row6 .clock5:after { transform: rotate(0deg); }
/* line 562, sass/_digit.sass */
.digit.digit5 .row1 .clock1:before { transform: rotate(180deg); }
/* line 564, sass/_digit.sass */
.digit.digit5 .row1 .clock1:after { transform: rotate(90deg); }
/* line 567, sass/_digit.sass */
.digit.digit5 .row1 .clock2:before, .digit.digit5 .row1 .clock3:before, .digit.digit5 .row1 .clock4:before { transform: rotate(90deg); }
/* line 569, sass/_digit.sass */
.digit.digit5 .row1 .clock2:after, .digit.digit5 .row1 .clock3:after, .digit.digit5 .row1 .clock4:after { transform: rotate(270deg); }
/* line 572, sass/_digit.sass */
.digit.digit5 .row1 .clock5:before { transform: rotate(180deg); }
/* line 574, sass/_digit.sass */
.digit.digit5 .row1 .clock5:after { transform: rotate(270deg); }
/* line 578, sass/_digit.sass */
.digit.digit5 .row2 .clock1:before { transform: rotate(0deg); }
/* line 580, sass/_digit.sass */
.digit.digit5 .row2 .clock1:after { transform: rotate(180deg); }
/* line 583, sass/_digit.sass */
.digit.digit5 .row2 .clock2:before { transform: rotate(180deg); }
/* line 585, sass/_digit.sass */
.digit.digit5 .row2 .clock2:after { transform: rotate(90deg); }
/* line 588, sass/_digit.sass */
.digit.digit5 .row2 .clock3:before, .digit.digit5 .row2 .clock4:before { transform: rotate(270deg); }
/* line 590, sass/_digit.sass */
.digit.digit5 .row2 .clock3:after, .digit.digit5 .row2 .clock4:after { transform: rotate(90deg); }
/* line 593, sass/_digit.sass */
.digit.digit5 .row2 .clock5:before { transform: rotate(270deg); }
/* line 595, sass/_digit.sass */
.digit.digit5 .row2 .clock5:after { transform: rotate(0deg); }
/* line 599, sass/_digit.sass */
.digit.digit5 .row3 .clock1:before { transform: rotate(0deg); }
/* line 601, sass/_digit.sass */
.digit.digit5 .row3 .clock1:after { transform: rotate(180deg); }
/* line 604, sass/_digit.sass */
.digit.digit5 .row3 .clock2:before { transform: rotate(90deg); }
/* line 606, sass/_digit.sass */
.digit.digit5 .row3 .clock2:after { transform: rotate(0deg); }
/* line 609, sass/_digit.sass */
.digit.digit5 .row3 .clock3:before, .digit.digit5 .row3 .clock4:before { transform: rotate(90deg); }
/* line 611, sass/_digit.sass */
.digit.digit5 .row3 .clock3:after, .digit.digit5 .row3 .clock4:after { transform: rotate(270deg); }
/* line 614, sass/_digit.sass */
.digit.digit5 .row3 .clock5:before { transform: rotate(180deg); }
/* line 616, sass/_digit.sass */
.digit.digit5 .row3 .clock5:after { transform: rotate(270deg); }
/* line 620, sass/_digit.sass */
.digit.digit5 .row4 .clock1:before { transform: rotate(0deg); }
/* line 622, sass/_digit.sass */
.digit.digit5 .row4 .clock1:after { transform: rotate(90deg); }
/* line 625, sass/_digit.sass */
.digit.digit5 .row4 .clock2:before, .digit.digit5 .row4 .clock3:before { transform: rotate(270deg); }
/* line 627, sass/_digit.sass */
.digit.digit5 .row4 .clock2:after, .digit.digit5 .row4 .clock3:after { transform: rotate(90deg); }
/* line 630, sass/_digit.sass */
.digit.digit5 .row4 .clock4:before { transform: rotate(270deg); }
/* line 632, sass/_digit.sass */
.digit.digit5 .row4 .clock4:after { transform: rotate(180deg); }
/* line 635, sass/_digit.sass */
.digit.digit5 .row4 .clock5:before { transform: rotate(0deg); }
/* line 637, sass/_digit.sass */
.digit.digit5 .row4 .clock5:after { transform: rotate(180deg); }
/* line 641, sass/_digit.sass */
.digit.digit5 .row5 .clock1:before { transform: rotate(90deg); }
/* line 643, sass/_digit.sass */
.digit.digit5 .row5 .clock1:after { transform: rotate(180deg); }
/* line 646, sass/_digit.sass */
.digit.digit5 .row5 .clock2:before, .digit.digit5 .row5 .clock3:before { transform: rotate(270deg); }
/* line 648, sass/_digit.sass */
.digit.digit5 .row5 .clock2:after, .digit.digit5 .row5 .clock3:after { transform: rotate(90deg); }
/* line 651, sass/_digit.sass */
.digit.digit5 .row5 .clock4:before { transform: rotate(270deg); }
/* line 653, sass/_digit.sass */
.digit.digit5 .row5 .clock4:after { transform: rotate(0deg); }
/* line 656, sass/_digit.sass */
.digit.digit5 .row5 .clock5:before { transform: rotate(0deg); }
/* line 658, sass/_digit.sass */
.digit.digit5 .row5 .clock5:after { transform: rotate(180deg); }
/* line 662, sass/_digit.sass */
.digit.digit5 .row6 .clock1:before { transform: rotate(0deg); }
/* line 664, sass/_digit.sass */
.digit.digit5 .row6 .clock1:after { transform: rotate(90deg); }
/* line 667, sass/_digit.sass */
.digit.digit5 .row6 .clock2:before, .digit.digit5 .row6 .clock3:before, .digit.digit5 .row6 .clock4:before { transform: rotate(270deg); }
/* line 669, sass/_digit.sass */
.digit.digit5 .row6 .clock2:after, .digit.digit5 .row6 .clock3:after, .digit.digit5 .row6 .clock4:after { transform: rotate(90deg); }
/* line 672, sass/_digit.sass */
.digit.digit5 .row6 .clock5:before { transform: rotate(270deg); }
/* line 674, sass/_digit.sass */
.digit.digit5 .row6 .clock5:after { transform: rotate(0deg); }
/* line 679, sass/_digit.sass */
.digit.digit6 .row1 .clock1:before { transform: rotate(180deg); }
/* line 681, sass/_digit.sass */
.digit.digit6 .row1 .clock1:after { transform: rotate(90deg); }
/* line 684, sass/_digit.sass */
.digit.digit6 .row1 .clock2:before, .digit.digit6 .row1 .clock3:before, .digit.digit6 .row1 .clock4:before { transform: rotate(90deg); }
/* line 686, sass/_digit.sass */
.digit.digit6 .row1 .clock2:after, .digit.digit6 .row1 .clock3:after, .digit.digit6 .row1 .clock4:after { transform: rotate(270deg); }
/* line 689, sass/_digit.sass */
.digit.digit6 .row1 .clock5:before { transform: rotate(180deg); }
/* line 691, sass/_digit.sass */
.digit.digit6 .row1 .clock5:after { transform: rotate(270deg); }
/* line 695, sass/_digit.sass */
.digit.digit6 .row2 .clock1:before { transform: rotate(0deg); }
/* line 697, sass/_digit.sass */
.digit.digit6 .row2 .clock1:after { transform: rotate(180deg); }
/* line 700, sass/_digit.sass */
.digit.digit6 .row2 .clock2:before { transform: rotate(180deg); }
/* line 702, sass/_digit.sass */
.digit.digit6 .row2 .clock2:after { transform: rotate(90deg); }
/* line 705, sass/_digit.sass */
.digit.digit6 .row2 .clock3:before, .digit.digit6 .row2 .clock4:before { transform: rotate(270deg); }
/* line 707, sass/_digit.sass */
.digit.digit6 .row2 .clock3:after, .digit.digit6 .row2 .clock4:after { transform: rotate(90deg); }
/* line 710, sass/_digit.sass */
.digit.digit6 .row2 .clock5:before { transform: rotate(270deg); }
/* line 712, sass/_digit.sass */
.digit.digit6 .row2 .clock5:after { transform: rotate(0deg); }
/* line 716, sass/_digit.sass */
.digit.digit6 .row3 .clock1:before { transform: rotate(0deg); }
/* line 718, sass/_digit.sass */
.digit.digit6 .row3 .clock1:after { transform: rotate(180deg); }
/* line 721, sass/_digit.sass */
.digit.digit6 .row3 .clock2:before { transform: rotate(90deg); }
/* line 723, sass/_digit.sass */
.digit.digit6 .row3 .clock2:after { transform: rotate(0deg); }
/* line 726, sass/_digit.sass */
.digit.digit6 .row3 .clock3:before, .digit.digit6 .row3 .clock4:before { transform: rotate(90deg); }
/* line 728, sass/_digit.sass */
.digit.digit6 .row3 .clock3:after, .digit.digit6 .row3 .clock4:after { transform: rotate(270deg); }
/* line 731, sass/_digit.sass */
.digit.digit6 .row3 .clock5:before { transform: rotate(180deg); }
/* line 733, sass/_digit.sass */
.digit.digit6 .row3 .clock5:after { transform: rotate(270deg); }
/* line 737, sass/_digit.sass */
.digit.digit6 .row4 .clock1:before, .digit.digit6 .row4 .clock5:before { transform: rotate(0deg); }
/* line 739, sass/_digit.sass */
.digit.digit6 .row4 .clock1:after, .digit.digit6 .row4 .clock5:after { transform: rotate(180deg); }
/* line 742, sass/_digit.sass */
.digit.digit6 .row4 .clock2:before { transform: rotate(180deg); }
/* line 744, sass/_digit.sass */
.digit.digit6 .row4 .clock2:after { transform: rotate(90deg); }
/* line 747, sass/_digit.sass */
.digit.digit6 .row4 .clock3:before { transform: rotate(270deg); }
/* line 749, sass/_digit.sass */
.digit.digit6 .row4 .clock3:after { transform: rotate(90deg); }
/* line 752, sass/_digit.sass */
.digit.digit6 .row4 .clock4:before { transform: rotate(270deg); }
/* line 754, sass/_digit.sass */
.digit.digit6 .row4 .clock4:after { transform: rotate(180deg); }
/* line 758, sass/_digit.sass */
.digit.digit6 .row5 .clock1:before, .digit.digit6 .row5 .clock5:before { transform: rotate(0deg); }
/* line 760, sass/_digit.sass */
.digit.digit6 .row5 .clock1:after, .digit.digit6 .row5 .clock5:after { transform: rotate(180deg); }
/* line 763, sass/_digit.sass */
.digit.digit6 .row5 .clock2:before { transform: rotate(90deg); }
/* line 765, sass/_digit.sass */
.digit.digit6 .row5 .clock2:after { transform: rotate(0deg); }
/* line 768, sass/_digit.sass */
.digit.digit6 .row5 .clock3:before { transform: rotate(270deg); }
/* line 770, sass/_digit.sass */
.digit.digit6 .row5 .clock3:after { transform: rotate(90deg); }
/* line 773, sass/_digit.sass */
.digit.digit6 .row5 .clock4:before { transform: rotate(0deg); }
/* line 775, sass/_digit.sass */
.digit.digit6 .row5 .clock4:after { transform: rotate(270deg); }
/* line 779, sass/_digit.sass */
.digit.digit6 .row6 .clock1:before { transform: rotate(90deg); }
/* line 781, sass/_digit.sass */
.digit.digit6 .row6 .clock1:after { transform: rotate(0deg); }
/* line 784, sass/_digit.sass */
.digit.digit6 .row6 .clock2:before, .digit.digit6 .row6 .clock3:before, .digit.digit6 .row6 .clock4:before { transform: rotate(90deg); }
/* line 786, sass/_digit.sass */
.digit.digit6 .row6 .clock2:after, .digit.digit6 .row6 .clock3:after, .digit.digit6 .row6 .clock4:after { transform: rotate(270deg); }
/* line 789, sass/_digit.sass */
.digit.digit6 .row6 .clock5:before { transform: rotate(0deg); }
/* line 791, sass/_digit.sass */
.digit.digit6 .row6 .clock5:after { transform: rotate(270deg); }
/* line 796, sass/_digit.sass */
.digit.digit7 .row1 .clock1:before { transform: rotate(180deg); }
/* line 798, sass/_digit.sass */
.digit.digit7 .row1 .clock1:after { transform: rotate(90deg); }
/* line 801, sass/_digit.sass */
.digit.digit7 .row1 .clock2:before, .digit.digit7 .row1 .clock3:before, .digit.digit7 .row1 .clock4:before { transform: rotate(90deg); }
/* line 803, sass/_digit.sass */
.digit.digit7 .row1 .clock2:after, .digit.digit7 .row1 .clock3:after, .digit.digit7 .row1 .clock4:after { transform: rotate(270deg); }
/* line 806, sass/_digit.sass */
.digit.digit7 .row1 .clock5:before { transform: rotate(180deg); }
/* line 808, sass/_digit.sass */
.digit.digit7 .row1 .clock5:after { transform: rotate(270deg); }
/* line 812, sass/_digit.sass */
.digit.digit7 .row2 .clock1:before { transform: rotate(180deg); }
/* line 814, sass/_digit.sass */
.digit.digit7 .row2 .clock1:after { transform: rotate(0deg); }
/* line 817, sass/_digit.sass */
.digit.digit7 .row2 .clock2:before { transform: rotate(90deg); }
/* line 819, sass/_digit.sass */
.digit.digit7 .row2 .clock2:after { transform: rotate(180deg); }
/* line 822, sass/_digit.sass */
.digit.digit7 .row2 .clock3:before { transform: rotate(90deg); }
/* line 824, sass/_digit.sass */
.digit.digit7 .row2 .clock3:after { transform: rotate(270deg); }
/* line 827, sass/_digit.sass */
.digit.digit7 .row2 .clock4:before { transform: rotate(180deg); }
/* line 829, sass/_digit.sass */
.digit.digit7 .row2 .clock4:after { transform: rotate(270deg); }
/* line 832, sass/_digit.sass */
.digit.digit7 .row2 .clock5:before { transform: rotate(180deg); }
/* line 834, sass/_digit.sass */
.digit.digit7 .row2 .clock5:after { transform: rotate(0deg); }
/* line 838, sass/_digit.sass */
.digit.digit7 .row3 .clock1:before { transform: rotate(90deg); }
/* line 840, sass/_digit.sass */
.digit.digit7 .row3 .clock1:after { transform: rotate(0deg); }
/* line 843, sass/_digit.sass */
.digit.digit7 .row3 .clock2:before { transform: rotate(0deg); }
/* line 845, sass/_digit.sass */
.digit.digit7 .row3 .clock2:after { transform: rotate(270deg); }
/* line 848, sass/_digit.sass */
.digit.digit7 .row3 .clock3:before { transform: rotate(225deg); }
/* line 850, sass/_digit.sass */
.digit.digit7 .row3 .clock3:after { transform: rotate(45deg); }
/* line 853, sass/_digit.sass */
.digit.digit7 .row3 .clock4:before, .digit.digit7 .row3 .clock5:before { transform: rotate(180deg); }
/* line 855, sass/_digit.sass */
.digit.digit7 .row3 .clock4:after, .digit.digit7 .row3 .clock5:after { transform: rotate(0deg); }
/* line 859, sass/_digit.sass */
.digit.digit7 .row4 .clock1:before, .digit.digit7 .row4 .clock2:before, .digit.digit7 .row4 .clock3:before { transform: rotate(225deg); }
/* line 861, sass/_digit.sass */
.digit.digit7 .row4 .clock1:after, .digit.digit7 .row4 .clock2:after, .digit.digit7 .row4 .clock3:after { transform: rotate(45deg); }
/* line 864, sass/_digit.sass */
.digit.digit7 .row4 .clock4:before, .digit.digit7 .row4 .clock5:before { transform: rotate(180deg); }
/* line 866, sass/_digit.sass */
.digit.digit7 .row4 .clock4:after, .digit.digit7 .row4 .clock5:after { transform: rotate(0deg); }
/* line 870, sass/_digit.sass */
.digit.digit7 .row5 .clock1:before, .digit.digit7 .row5 .clock2:before, .digit.digit7 .row5 .clock3:before { transform: rotate(225deg); }
/* line 872, sass/_digit.sass */
.digit.digit7 .row5 .clock1:after, .digit.digit7 .row5 .clock2:after, .digit.digit7 .row5 .clock3:after { transform: rotate(45deg); }
/* line 875, sass/_digit.sass */
.digit.digit7 .row5 .clock4:before, .digit.digit7 .row5 .clock5:before { transform: rotate(180deg); }
/* line 877, sass/_digit.sass */
.digit.digit7 .row5 .clock4:after, .digit.digit7 .row5 .clock5:after { transform: rotate(0deg); }
/* line 881, sass/_digit.sass */
.digit.digit7 .row6 .clock1:before, .digit.digit7 .row6 .clock2:before, .digit.digit7 .row6 .clock3:before { transform: rotate(225deg); }
/* line 883, sass/_digit.sass */
.digit.digit7 .row6 .clock1:after, .digit.digit7 .row6 .clock2:after, .digit.digit7 .row6 .clock3:after { transform: rotate(45deg); }
/* line 886, sass/_digit.sass */
.digit.digit7 .row6 .clock4:before { transform: rotate(90deg); }
/* line 888, sass/_digit.sass */
.digit.digit7 .row6 .clock4:after { transform: rotate(0deg); }
/* line 891, sass/_digit.sass */
.digit.digit7 .row6 .clock5:before { transform: rotate(270deg); }
/* line 893, sass/_digit.sass */
.digit.digit7 .row6 .clock5:after { transform: rotate(0deg); }
/* line 898, sass/_digit.sass */
.digit.digit8 .row1 .clock1:before { transform: rotate(180deg); }
/* line 900, sass/_digit.sass */
.digit.digit8 .row1 .clock1:after { transform: rotate(90deg); }
/* line 903, sass/_digit.sass */
.digit.digit8 .row1 .clock2:before, .digit.digit8 .row1 .clock3:before, .digit.digit8 .row1 .clock4:before { transform: rotate(90deg); }
/* line 905, sass/_digit.sass */
.digit.digit8 .row1 .clock2:after, .digit.digit8 .row1 .clock3:after, .digit.digit8 .row1 .clock4:after { transform: rotate(270deg); }
/* line 908, sass/_digit.sass */
.digit.digit8 .row1 .clock5:before { transform: rotate(180deg); }
/* line 910, sass/_digit.sass */
.digit.digit8 .row1 .clock5:after { transform: rotate(270deg); }
/* line 914, sass/_digit.sass */
.digit.digit8 .row2 .clock1:before, .digit.digit8 .row2 .clock5:before, .digit.digit8 .row4 .clock1:before, .digit.digit8 .row4 .clock5:before { transform: rotate(0deg); }
/* line 916, sass/_digit.sass */
.digit.digit8 .row2 .clock1:after, .digit.digit8 .row2 .clock5:after, .digit.digit8 .row4 .clock1:after, .digit.digit8 .row4 .clock5:after { transform: rotate(180deg); }
/* line 919, sass/_digit.sass */
.digit.digit8 .row2 .clock2:before, .digit.digit8 .row4 .clock2:before { transform: rotate(180deg); }
/* line 921, sass/_digit.sass */
.digit.digit8 .row2 .clock2:after, .digit.digit8 .row4 .clock2:after { transform: rotate(90deg); }
/* line 924, sass/_digit.sass */
.digit.digit8 .row2 .clock3:before, .digit.digit8 .row4 .clock3:before { transform: rotate(270deg); }
/* line 926, sass/_digit.sass */
.digit.digit8 .row2 .clock3:after, .digit.digit8 .row4 .clock3:after { transform: rotate(90deg); }
/* line 929, sass/_digit.sass */
.digit.digit8 .row2 .clock4:before, .digit.digit8 .row4 .clock4:before { transform: rotate(270deg); }
/* line 931, sass/_digit.sass */
.digit.digit8 .row2 .clock4:after, .digit.digit8 .row4 .clock4:after { transform: rotate(180deg); }
/* line 935, sass/_digit.sass */
.digit.digit8 .row3 .clock1:before, .digit.digit8 .row3 .clock5:before, .digit.digit8 .row5 .clock1:before, .digit.digit8 .row5 .clock5:before { transform: rotate(0deg); }
/* line 937, sass/_digit.sass */
.digit.digit8 .row3 .clock1:after, .digit.digit8 .row3 .clock5:after, .digit.digit8 .row5 .clock1:after, .digit.digit8 .row5 .clock5:after { transform: rotate(180deg); }
/* line 940, sass/_digit.sass */
.digit.digit8 .row3 .clock2:before, .digit.digit8 .row5 .clock2:before { transform: rotate(90deg); }
/* line 942, sass/_digit.sass */
.digit.digit8 .row3 .clock2:after, .digit.digit8 .row5 .clock2:after { transform: rotate(0deg); }
/* line 945, sass/_digit.sass */
.digit.digit8 .row3 .clock3:before, .digit.digit8 .row5 .clock3:before { transform: rotate(270deg); }
/* line 947, sass/_digit.sass */
.digit.digit8 .row3 .clock3:after, .digit.digit8 .row5 .clock3:after { transform: rotate(90deg); }
/* line 950, sass/_digit.sass */
.digit.digit8 .row3 .clock4:before, .digit.digit8 .row5 .clock4:before { transform: rotate(0deg); }
/* line 952, sass/_digit.sass */
.digit.digit8 .row3 .clock4:after, .digit.digit8 .row5 .clock4:after { transform: rotate(270deg); }
/* line 956, sass/_digit.sass */
.digit.digit8 .row6 .clock1:before { transform: rotate(0deg); }
/* line 958, sass/_digit.sass */
.digit.digit8 .row6 .clock1:after { transform: rotate(90deg); }
/* line 961, sass/_digit.sass */
.digit.digit8 .row6 .clock2:before, .digit.digit8 .row6 .clock3:before, .digit.digit8 .row6 .clock4:before { transform: rotate(90deg); }
/* line 963, sass/_digit.sass */
.digit.digit8 .row6 .clock2:after, .digit.digit8 .row6 .clock3:after, .digit.digit8 .row6 .clock4:after { transform: rotate(270deg); }
/* line 966, sass/_digit.sass */
.digit.digit8 .row6 .clock5:before { transform: rotate(270deg); }
/* line 968, sass/_digit.sass */
.digit.digit8 .row6 .clock5:after { transform: rotate(0deg); }
/* line 973, sass/_digit.sass */
.digit.digit9 .row1 .clock1:before { transform: rotate(180deg); }
/* line 975, sass/_digit.sass */
.digit.digit9 .row1 .clock1:after { transform: rotate(90deg); }
/* line 978, sass/_digit.sass */
.digit.digit9 .row1 .clock2:before, .digit.digit9 .row1 .clock3:before, .digit.digit9 .row1 .clock4:before { transform: rotate(90deg); }
/* line 980, sass/_digit.sass */
.digit.digit9 .row1 .clock2:after, .digit.digit9 .row1 .clock3:after, .digit.digit9 .row1 .clock4:after { transform: rotate(270deg); }
/* line 983, sass/_digit.sass */
.digit.digit9 .row1 .clock5:before { transform: rotate(180deg); }
/* line 985, sass/_digit.sass */
.digit.digit9 .row1 .clock5:after { transform: rotate(270deg); }
/* line 989, sass/_digit.sass */
.digit.digit9 .row2 .clock1:before, .digit.digit9 .row2 .clock5:before { transform: rotate(0deg); }
/* line 991, sass/_digit.sass */
.digit.digit9 .row2 .clock1:after, .digit.digit9 .row2 .clock5:after { transform: rotate(180deg); }
/* line 994, sass/_digit.sass */
.digit.digit9 .row2 .clock2:before { transform: rotate(180deg); }
/* line 996, sass/_digit.sass */
.digit.digit9 .row2 .clock2:after { transform: rotate(90deg); }
/* line 999, sass/_digit.sass */
.digit.digit9 .row2 .clock3:before { transform: rotate(270deg); }
/* line 1001, sass/_digit.sass */
.digit.digit9 .row2 .clock3:after { transform: rotate(90deg); }
/* line 1004, sass/_digit.sass */
.digit.digit9 .row2 .clock4:before { transform: rotate(270deg); }
/* line 1006, sass/_digit.sass */
.digit.digit9 .row2 .clock4:after { transform: rotate(180deg); }
/* line 1010, sass/_digit.sass */
.digit.digit9 .row3 .clock1:before, .digit.digit9 .row3 .clock5:before { transform: rotate(0deg); }
/* line 1012, sass/_digit.sass */
.digit.digit9 .row3 .clock1:after, .digit.digit9 .row3 .clock5:after { transform: rotate(180deg); }
/* line 1015, sass/_digit.sass */
.digit.digit9 .row3 .clock2:before { transform: rotate(90deg); }
/* line 1017, sass/_digit.sass */
.digit.digit9 .row3 .clock2:after { transform: rotate(0deg); }
/* line 1020, sass/_digit.sass */
.digit.digit9 .row3 .clock3:before { transform: rotate(270deg); }
/* line 1022, sass/_digit.sass */
.digit.digit9 .row3 .clock3:after { transform: rotate(90deg); }
/* line 1025, sass/_digit.sass */
.digit.digit9 .row3 .clock4:before { transform: rotate(0deg); }
/* line 1027, sass/_digit.sass */
.digit.digit9 .row3 .clock4:after { transform: rotate(270deg); }
/* line 1031, sass/_digit.sass */
.digit.digit9 .row4 .clock1:before { transform: rotate(0deg); }
/* line 1033, sass/_digit.sass */
.digit.digit9 .row4 .clock1:after { transform: rotate(90deg); }
/* line 1036, sass/_digit.sass */
.digit.digit9 .row4 .clock2:before, .digit.digit9 .row4 .clock3:before { transform: rotate(270deg); }
/* line 1038, sass/_digit.sass */
.digit.digit9 .row4 .clock2:after, .digit.digit9 .row4 .clock3:after { transform: rotate(90deg); }
/* line 1041, sass/_digit.sass */
.digit.digit9 .row4 .clock4:before { transform: rotate(270deg); }
/* line 1043, sass/_digit.sass */
.digit.digit9 .row4 .clock4:after { transform: rotate(180deg); }
/* line 1046, sass/_digit.sass */
.digit.digit9 .row4 .clock5:before { transform: rotate(0deg); }
/* line 1048, sass/_digit.sass */
.digit.digit9 .row4 .clock5:after { transform: rotate(180deg); }
/* line 1052, sass/_digit.sass */
.digit.digit9 .row5 .clock1:before { transform: rotate(180deg); }
/* line 1054, sass/_digit.sass */
.digit.digit9 .row5 .clock1:after { transform: rotate(90deg); }
/* line 1057, sass/_digit.sass */
.digit.digit9 .row5 .clock2:before, .digit.digit9 .row5 .clock3:before { transform: rotate(90deg); }
/* line 1059, sass/_digit.sass */
.digit.digit9 .row5 .clock2:after, .digit.digit9 .row5 .clock3:after { transform: rotate(270deg); }
/* line 1062, sass/_digit.sass */
.digit.digit9 .row5 .clock4:before { transform: rotate(270deg); }
/* line 1064, sass/_digit.sass */
.digit.digit9 .row5 .clock4:after { transform: rotate(0deg); }
/* line 1067, sass/_digit.sass */
.digit.digit9 .row5 .clock5:before { transform: rotate(180deg); }
/* line 1069, sass/_digit.sass */
.digit.digit9 .row5 .clock5:after { transform: rotate(0deg); }
/* line 1073, sass/_digit.sass */
.digit.digit9 .row6 .clock1:before { transform: rotate(90deg); }
/* line 1075, sass/_digit.sass */
.digit.digit9 .row6 .clock1:after { transform: rotate(0deg); }
/* line 1078, sass/_digit.sass */
.digit.digit9 .row6 .clock2:before, .digit.digit9 .row6 .clock3:before, .digit.digit9 .row6 .clock4:before { transform: rotate(90deg); }
/* line 1080, sass/_digit.sass */
.digit.digit9 .row6 .clock2:after, .digit.digit9 .row6 .clock3:after, .digit.digit9 .row6 .clock4:after { transform: rotate(270deg); }
/* line 1083, sass/_digit.sass */
.digit.digit9 .row6 .clock5:before { transform: rotate(0deg); }
/* line 1085, sass/_digit.sass */
.digit.digit9 .row6 .clock5:after { transform: rotate(270deg); }

/* line 1, sass/_separator.sass */
.separator { display: inline-block; float: left; }
/* line 6, sass/_separator.sass */
.separator .row1 .clock1:before, .separator .row1 .clock2:before, .separator .row6 .clock1:before, .separator .row6 .clock2:before { transform: rotate(225deg); }
/* line 8, sass/_separator.sass */
.separator .row1 .clock1:after, .separator .row1 .clock2:after, .separator .row6 .clock1:after, .separator .row6 .clock2:after { transform: rotate(45deg); }
/* line 12, sass/_separator.sass */
.separator .row2 .clock1:before, .separator .row4 .clock1:before { transform: rotate(180deg); }
/* line 14, sass/_separator.sass */
.separator .row2 .clock1:after, .separator .row4 .clock1:after { transform: rotate(90deg); }
/* line 17, sass/_separator.sass */
.separator .row2 .clock2:before, .separator .row4 .clock2:before { transform: rotate(180deg); }
/* line 19, sass/_separator.sass */
.separator .row2 .clock2:after, .separator .row4 .clock2:after { transform: rotate(270deg); }
/* line 23, sass/_separator.sass */
.separator .row3 .clock1:before, .separator .row5 .clock1:before { transform: rotate(0deg); }
/* line 25, sass/_separator.sass */
.separator .row3 .clock1:after, .separator .row5 .clock1:after { transform: rotate(90deg); }
/* line 28, sass/_separator.sass */
.separator .row3 .clock2:before, .separator .row5 .clock2:before { transform: rotate(270deg); }
/* line 30, sass/_separator.sass */
.separator .row3 .clock2:after, .separator .row5 .clock2:after { transform: rotate(0deg); }
